<h3>Languages :</h3> Kotlin, Java, PHP, NodeJS
    
<h3>Web :</h3> Typescript, React, Vue, OpenAPI, Figma

<h3>System Administration :</h3> GNU/Linux, Nixos, Jenkins

<h3>Methods :</h3> Agile, UX Design, Peer review, TDD, Hexagonal architecture, MicroServices

<h3>Project Management :</h3> Customer relation, Training and support, Hiring, Teammate training, Comtability, Communication, Marketing

<h3>Languages :</h3> Français (native), English (TOEIC Max), Deutsch (former B2), 汉语 (HSK2), 日本語 (former A2)
