<div class="skills">
    <p><span>Methods :</span> Agile/Software craftmanship, UX Design, Peer review, Test Driven Development, Hexagonal architecture, Micro services</p>
    
    <p><span>Programming Languages :</span> Kotlin, Java, PHP, NodeJS, Python</p>
    
    <p><span>Web :</span>Typescript, React, Vue, OpenAPI</p>

    <p><span>Tools :</span>Git, Figma, Trello</p>
    
    <p><span>System Administration :</span> GNU/Linux, Nixos, Jenkins</p>
    
    <p><span>Non technical :</span> Teaching, Project management, Customer training and support, Creation of Video/Audio/Written content</p>

    <p><span>Human Languages :</span> Français (native), English (TOEIC Max), Deutsch (former B2), 汉语 (>2500 known words with Lingq), 日本語 (former A2)</p>
</div>