<div class="skills">
    <p><span>Project Management :</span> Customer Relation, Training and Support, UX/UI Design, Agile Product Owner</p>
    
    <p><span>Programming Languages and Frameworks :</span> Kotlin, Java, PHP, NodeJS, Python, Typescript, React, Vue</p>
    
    <p><span>Tools :</span>Git, OpenAPI, Figma, Trello</p>
    
    <p><span>System Administration :</span> GNU/Linux, Nixos, Jenkins</p>
    
    <p><span>Methods :</span> Agile, UX Design, Peer review, TDD, Hexagonal architecture, MicroServices</p>
    
    <p><span>Human Languages :</span> Français (native), English (TOEIC Max), Deutsch (former B2), 汉语 (>2500 known words with Lingq), 日本語 (former A2)</p>
</div>